--
-- PostgreSQL database dump
--

\restrict wis8J9DTVzhDtqWRpuDVfLZEScLz71J5UzbAEdfBS9gVBaNsDe96Juo5z17JVKP

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: accounttype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.accounttype AS ENUM (
    'CASH',
    'BANK'
);


ALTER TYPE public.accounttype OWNER TO postgres;

--
-- Name: attendancestatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.attendancestatus AS ENUM (
    'present',
    'late',
    'absent',
    'early_checkout'
);


ALTER TYPE public.attendancestatus OWNER TO postgres;

--
-- Name: inventorystatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.inventorystatus AS ENUM (
    'in_stock',
    'out_of_stock',
    'low_stock'
);


ALTER TYPE public.inventorystatus OWNER TO postgres;

--
-- Name: qrtokentype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.qrtokentype AS ENUM (
    'check_in',
    'check_out',
    'attendance'
);


ALTER TYPE public.qrtokentype OWNER TO postgres;

--
-- Name: salarytype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.salarytype AS ENUM (
    'hourly',
    'fixed'
);


ALTER TYPE public.salarytype OWNER TO postgres;

--
-- Name: transactiontype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.transactiontype AS ENUM (
    'in',
    'out'
);


ALTER TYPE public.transactiontype OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: advance_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.advance_payments (
    id integer NOT NULL,
    user_id integer NOT NULL,
    date date NOT NULL,
    amount double precision NOT NULL,
    notes text,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.advance_payments OWNER TO postgres;

--
-- Name: advance_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.advance_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.advance_payments_id_seq OWNER TO postgres;

--
-- Name: advance_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.advance_payments_id_seq OWNED BY public.advance_payments.id;


--
-- Name: attendance_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance_settings (
    id integer NOT NULL,
    allowed_late_minutes integer NOT NULL,
    penalty_tiers text NOT NULL,
    early_checkout_grace_minutes integer NOT NULL,
    early_checkout_penalty double precision NOT NULL,
    absent_penalty double precision NOT NULL,
    auto_absent_enabled boolean NOT NULL,
    notes text,
    is_active boolean NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.attendance_settings OWNER TO postgres;

--
-- Name: attendance_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attendance_settings_id_seq OWNER TO postgres;

--
-- Name: attendance_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_settings_id_seq OWNED BY public.attendance_settings.id;


--
-- Name: attendances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendances (
    id integer NOT NULL,
    user_id integer NOT NULL,
    work_schedule_id integer NOT NULL,
    date date NOT NULL,
    check_in_time timestamp without time zone,
    check_out_time timestamp without time zone,
    check_in_qr_token character varying(255),
    check_out_qr_token character varying(255),
    wifi_ssid character varying(100),
    wifi_bssid character varying(17),
    ip_address character varying(50),
    status public.attendancestatus NOT NULL,
    notes text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.attendances OWNER TO postgres;

--
-- Name: attendances_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attendances_id_seq OWNER TO postgres;

--
-- Name: attendances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendances_id_seq OWNED BY public.attendances.id;


--
-- Name: bonuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bonuses (
    id integer NOT NULL,
    user_id integer NOT NULL,
    date date NOT NULL,
    amount double precision NOT NULL,
    notes text,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.bonuses OWNER TO postgres;

--
-- Name: bonuses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bonuses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bonuses_id_seq OWNER TO postgres;

--
-- Name: bonuses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bonuses_id_seq OWNED BY public.bonuses.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: debts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.debts (
    id integer NOT NULL,
    debt_date date NOT NULL,
    amount double precision NOT NULL,
    debtor_name character varying(100) NOT NULL,
    note text,
    is_paid boolean,
    paid_date date,
    payment_method public.accounttype,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.debts OWNER TO postgres;

--
-- Name: debts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.debts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.debts_id_seq OWNER TO postgres;

--
-- Name: debts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.debts_id_seq OWNED BY public.debts.id;


--
-- Name: exchanges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exchanges (
    id integer NOT NULL,
    exchange_date date NOT NULL,
    amount double precision NOT NULL,
    from_account public.accounttype NOT NULL,
    to_account public.accounttype NOT NULL,
    note text,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.exchanges OWNER TO postgres;

--
-- Name: exchanges_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.exchanges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.exchanges_id_seq OWNER TO postgres;

--
-- Name: exchanges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.exchanges_id_seq OWNED BY public.exchanges.id;


--
-- Name: inventories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventories (
    id integer NOT NULL,
    product_name character varying(200) NOT NULL,
    quantity integer NOT NULL,
    min_quantity integer NOT NULL,
    category_id integer NOT NULL,
    base_unit_id integer NOT NULL,
    conversion_unit_id integer,
    conversion_rate integer,
    status public.inventorystatus NOT NULL,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.inventories OWNER TO postgres;

--
-- Name: inventories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventories_id_seq OWNER TO postgres;

--
-- Name: inventories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventories_id_seq OWNED BY public.inventories.id;


--
-- Name: inventory_transaction_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_transaction_details (
    id integer NOT NULL,
    transaction_id integer NOT NULL,
    inventory_id integer NOT NULL,
    quantity integer NOT NULL,
    unit_type character varying(20) NOT NULL,
    price double precision,
    payment_method public.accounttype,
    created_at timestamp without time zone
);


ALTER TABLE public.inventory_transaction_details OWNER TO postgres;

--
-- Name: inventory_transaction_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_transaction_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_transaction_details_id_seq OWNER TO postgres;

--
-- Name: inventory_transaction_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_transaction_details_id_seq OWNED BY public.inventory_transaction_details.id;


--
-- Name: inventory_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_transactions (
    id integer NOT NULL,
    transaction_date date NOT NULL,
    transaction_type public.transactiontype NOT NULL,
    note text,
    created_by integer NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.inventory_transactions OWNER TO postgres;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_transactions_id_seq OWNER TO postgres;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_transactions_id_seq OWNED BY public.inventory_transactions.id;


--
-- Name: penalties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.penalties (
    id integer NOT NULL,
    user_id integer NOT NULL,
    date date NOT NULL,
    amount double precision NOT NULL,
    notes text,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.penalties OWNER TO postgres;

--
-- Name: penalties_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.penalties_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.penalties_id_seq OWNER TO postgres;

--
-- Name: penalties_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.penalties_id_seq OWNED BY public.penalties.id;


--
-- Name: qr_access_devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qr_access_devices (
    id integer NOT NULL,
    device_id character varying(100) NOT NULL,
    device_name character varying(200) NOT NULL,
    api_key_hash character varying(255) NOT NULL,
    is_active boolean,
    last_used_at timestamp without time zone,
    created_at timestamp without time zone
);


ALTER TABLE public.qr_access_devices OWNER TO postgres;

--
-- Name: qr_access_devices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.qr_access_devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.qr_access_devices_id_seq OWNER TO postgres;

--
-- Name: qr_access_devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.qr_access_devices_id_seq OWNED BY public.qr_access_devices.id;


--
-- Name: qr_access_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qr_access_tokens (
    id integer NOT NULL,
    access_token character varying(255) NOT NULL,
    device_id character varying(100) NOT NULL,
    purpose character varying(50) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    is_used boolean,
    used_at timestamp without time zone,
    used_by_pin character varying(4),
    created_at timestamp without time zone
);


ALTER TABLE public.qr_access_tokens OWNER TO postgres;

--
-- Name: qr_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.qr_access_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.qr_access_tokens_id_seq OWNER TO postgres;

--
-- Name: qr_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.qr_access_tokens_id_seq OWNED BY public.qr_access_tokens.id;


--
-- Name: qr_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qr_sessions (
    id integer NOT NULL,
    qr_token character varying(255) NOT NULL,
    token_type public.qrtokentype NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    is_used boolean,
    used_by integer,
    used_at timestamp without time zone,
    created_at timestamp without time zone
);


ALTER TABLE public.qr_sessions OWNER TO postgres;

--
-- Name: qr_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.qr_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.qr_sessions_id_seq OWNER TO postgres;

--
-- Name: qr_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.qr_sessions_id_seq OWNED BY public.qr_sessions.id;


--
-- Name: receipt_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.receipt_types (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    category_id integer,
    is_active boolean,
    is_inventory boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.receipt_types OWNER TO postgres;

--
-- Name: receipt_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.receipt_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.receipt_types_id_seq OWNER TO postgres;

--
-- Name: receipt_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.receipt_types_id_seq OWNED BY public.receipt_types.id;


--
-- Name: receipts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.receipts (
    id integer NOT NULL,
    receipt_date date NOT NULL,
    amount double precision NOT NULL,
    receipt_type_id integer NOT NULL,
    note text,
    created_by integer NOT NULL,
    is_income boolean,
    payment_method public.accounttype NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.receipts OWNER TO postgres;

--
-- Name: receipts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.receipts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.receipts_id_seq OWNER TO postgres;

--
-- Name: receipts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.receipts_id_seq OWNED BY public.receipts.id;


--
-- Name: revenues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.revenues (
    id integer NOT NULL,
    revenue_date date NOT NULL,
    cash_revenue double precision NOT NULL,
    bank_revenue double precision NOT NULL,
    note text,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.revenues OWNER TO postgres;

--
-- Name: revenues_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.revenues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.revenues_id_seq OWNER TO postgres;

--
-- Name: revenues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.revenues_id_seq OWNED BY public.revenues.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255),
    permissions text,
    is_active boolean,
    is_system boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: safes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.safes (
    id integer NOT NULL,
    safe_date date NOT NULL,
    amount double precision NOT NULL,
    note text,
    created_by integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.safes OWNER TO postgres;

--
-- Name: safes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.safes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.safes_id_seq OWNER TO postgres;

--
-- Name: safes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.safes_id_seq OWNED BY public.safes.id;


--
-- Name: units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.units (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255),
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.units OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.units_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.units_id_seq OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.units_id_seq OWNED BY public.units.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    full_name character varying(100) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    pin character varying(4),
    is_active boolean,
    role_id integer NOT NULL,
    salary_type public.salarytype NOT NULL,
    fixed_salary double precision,
    display_order integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: wifi_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wifi_configs (
    id integer NOT NULL,
    ssid character varying(100) NOT NULL,
    bssid character varying(17),
    ip_range character varying(50),
    ip_subnet character varying(32),
    description character varying(255),
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.wifi_configs OWNER TO postgres;

--
-- Name: wifi_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wifi_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.wifi_configs_id_seq OWNER TO postgres;

--
-- Name: wifi_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wifi_configs_id_seq OWNED BY public.wifi_configs.id;


--
-- Name: work_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_schedules (
    id integer NOT NULL,
    user_id integer NOT NULL,
    work_date date NOT NULL,
    start_time character varying(5) NOT NULL,
    end_time character varying(5) NOT NULL,
    allowed_late_minutes integer,
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.work_schedules OWNER TO postgres;

--
-- Name: work_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.work_schedules_id_seq OWNER TO postgres;

--
-- Name: work_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_schedules_id_seq OWNED BY public.work_schedules.id;


--
-- Name: advance_payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.advance_payments ALTER COLUMN id SET DEFAULT nextval('public.advance_payments_id_seq'::regclass);


--
-- Name: attendance_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_settings ALTER COLUMN id SET DEFAULT nextval('public.attendance_settings_id_seq'::regclass);


--
-- Name: attendances id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendances ALTER COLUMN id SET DEFAULT nextval('public.attendances_id_seq'::regclass);


--
-- Name: bonuses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bonuses ALTER COLUMN id SET DEFAULT nextval('public.bonuses_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: debts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.debts ALTER COLUMN id SET DEFAULT nextval('public.debts_id_seq'::regclass);


--
-- Name: exchanges id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exchanges ALTER COLUMN id SET DEFAULT nextval('public.exchanges_id_seq'::regclass);


--
-- Name: inventories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories ALTER COLUMN id SET DEFAULT nextval('public.inventories_id_seq'::regclass);


--
-- Name: inventory_transaction_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_details ALTER COLUMN id SET DEFAULT nextval('public.inventory_transaction_details_id_seq'::regclass);


--
-- Name: inventory_transactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions ALTER COLUMN id SET DEFAULT nextval('public.inventory_transactions_id_seq'::regclass);


--
-- Name: penalties id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penalties ALTER COLUMN id SET DEFAULT nextval('public.penalties_id_seq'::regclass);


--
-- Name: qr_access_devices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_access_devices ALTER COLUMN id SET DEFAULT nextval('public.qr_access_devices_id_seq'::regclass);


--
-- Name: qr_access_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.qr_access_tokens_id_seq'::regclass);


--
-- Name: qr_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_sessions ALTER COLUMN id SET DEFAULT nextval('public.qr_sessions_id_seq'::regclass);


--
-- Name: receipt_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipt_types ALTER COLUMN id SET DEFAULT nextval('public.receipt_types_id_seq'::regclass);


--
-- Name: receipts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts ALTER COLUMN id SET DEFAULT nextval('public.receipts_id_seq'::regclass);


--
-- Name: revenues id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revenues ALTER COLUMN id SET DEFAULT nextval('public.revenues_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: safes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safes ALTER COLUMN id SET DEFAULT nextval('public.safes_id_seq'::regclass);


--
-- Name: units id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units ALTER COLUMN id SET DEFAULT nextval('public.units_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: wifi_configs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wifi_configs ALTER COLUMN id SET DEFAULT nextval('public.wifi_configs_id_seq'::regclass);


--
-- Name: work_schedules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_schedules ALTER COLUMN id SET DEFAULT nextval('public.work_schedules_id_seq'::regclass);


--
-- Data for Name: advance_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.advance_payments (id, user_id, date, amount, notes, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: attendance_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance_settings (id, allowed_late_minutes, penalty_tiers, early_checkout_grace_minutes, early_checkout_penalty, absent_penalty, auto_absent_enabled, notes, is_active, created_at, updated_at) FROM stdin;
1	15	[{"max_minutes": 15, "penalty_amount": 0}, {"max_minutes": 30, "penalty_amount": 50000}, {"max_minutes": 60, "penalty_amount": 100000}, {"max_minutes": null, "penalty_amount": 200000}]	10	50000	100000	t	\N	t	2026-01-16 13:41:52.524545	2026-01-16 13:41:52.524548
\.


--
-- Data for Name: attendances; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendances (id, user_id, work_schedule_id, date, check_in_time, check_out_time, check_in_qr_token, check_out_qr_token, wifi_ssid, wifi_bssid, ip_address, status, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: bonuses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bonuses (id, user_id, date, amount, notes, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, description, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: debts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.debts (id, debt_date, amount, debtor_name, note, is_paid, paid_date, payment_method, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: exchanges; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exchanges (id, exchange_date, amount, from_account, to_account, note, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: inventories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventories (id, product_name, quantity, min_quantity, category_id, base_unit_id, conversion_unit_id, conversion_rate, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: inventory_transaction_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_transaction_details (id, transaction_id, inventory_id, quantity, unit_type, price, payment_method, created_at) FROM stdin;
\.


--
-- Data for Name: inventory_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_transactions (id, transaction_date, transaction_type, note, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: penalties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.penalties (id, user_id, date, amount, notes, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: qr_access_devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qr_access_devices (id, device_id, device_name, api_key_hash, is_active, last_used_at, created_at) FROM stdin;
\.


--
-- Data for Name: qr_access_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qr_access_tokens (id, access_token, device_id, purpose, expires_at, is_used, used_at, used_by_pin, created_at) FROM stdin;
\.


--
-- Data for Name: qr_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qr_sessions (id, qr_token, token_type, expires_at, is_used, used_by, used_at, created_at) FROM stdin;
\.


--
-- Data for Name: receipt_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.receipt_types (id, name, description, category_id, is_active, is_inventory, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.receipts (id, receipt_date, amount, receipt_type_id, note, created_by, is_income, payment_method, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: revenues; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.revenues (id, revenue_date, cash_revenue, bank_revenue, note, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: safes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.safes (id, safe_date, amount, note, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.units (id, name, description, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, email, full_name, hashed_password, pin, is_active, role_id, salary_type, fixed_salary, display_order, created_at, updated_at) FROM stdin;
1	0364756638	admin@azpoolarena.com	Wavy	$2b$12$KydHZPCEZ2uWSlaeSba35uZKZkOdCCd.Fl.pLOU.qWMwNm3QlNUAG	2002	t	4	hourly	\N	\N	2026-01-16 13:37:19.166596	2026-01-16 13:57:03.944556
\.


--
-- Data for Name: wifi_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wifi_configs (id, ssid, bssid, ip_range, ip_subnet, description, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: work_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_schedules (id, user_id, work_date, start_time, end_time, allowed_late_minutes, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Name: advance_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.advance_payments_id_seq', 1, false);


--
-- Name: attendance_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_settings_id_seq', 1, true);


--
-- Name: attendances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendances_id_seq', 1, false);


--
-- Name: bonuses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bonuses_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- Name: debts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.debts_id_seq', 1, false);


--
-- Name: exchanges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exchanges_id_seq', 10, true);


--
-- Name: inventories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventories_id_seq', 1, false);


--
-- Name: inventory_transaction_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_transaction_details_id_seq', 1, false);


--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_transactions_id_seq', 1, false);


--
-- Name: penalties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.penalties_id_seq', 1, false);


--
-- Name: qr_access_devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.qr_access_devices_id_seq', 1, false);


--
-- Name: qr_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.qr_access_tokens_id_seq', 1, false);


--
-- Name: qr_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.qr_sessions_id_seq', 1, false);


--
-- Name: receipt_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.receipt_types_id_seq', 8, true);


--
-- Name: receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.receipts_id_seq', 40, true);


--
-- Name: revenues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.revenues_id_seq', 30, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: safes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.safes_id_seq', 1, false);


--
-- Name: units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.units_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: wifi_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wifi_configs_id_seq', 1, false);


--
-- Name: work_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.work_schedules_id_seq', 1, false);


--
-- Name: advance_payments advance_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.advance_payments
    ADD CONSTRAINT advance_payments_pkey PRIMARY KEY (id);


--
-- Name: attendance_settings attendance_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_settings
    ADD CONSTRAINT attendance_settings_pkey PRIMARY KEY (id);


--
-- Name: attendances attendances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_pkey PRIMARY KEY (id);


--
-- Name: bonuses bonuses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bonuses
    ADD CONSTRAINT bonuses_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: debts debts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.debts
    ADD CONSTRAINT debts_pkey PRIMARY KEY (id);


--
-- Name: exchanges exchanges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exchanges
    ADD CONSTRAINT exchanges_pkey PRIMARY KEY (id);


--
-- Name: inventories inventories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT inventories_pkey PRIMARY KEY (id);


--
-- Name: inventory_transaction_details inventory_transaction_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_details
    ADD CONSTRAINT inventory_transaction_details_pkey PRIMARY KEY (id);


--
-- Name: inventory_transactions inventory_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_pkey PRIMARY KEY (id);


--
-- Name: penalties penalties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penalties
    ADD CONSTRAINT penalties_pkey PRIMARY KEY (id);


--
-- Name: qr_access_devices qr_access_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_access_devices
    ADD CONSTRAINT qr_access_devices_pkey PRIMARY KEY (id);


--
-- Name: qr_access_tokens qr_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_access_tokens
    ADD CONSTRAINT qr_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: qr_sessions qr_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_sessions
    ADD CONSTRAINT qr_sessions_pkey PRIMARY KEY (id);


--
-- Name: receipt_types receipt_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipt_types
    ADD CONSTRAINT receipt_types_pkey PRIMARY KEY (id);


--
-- Name: receipts receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_pkey PRIMARY KEY (id);


--
-- Name: revenues revenues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revenues
    ADD CONSTRAINT revenues_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: safes safes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safes
    ADD CONSTRAINT safes_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wifi_configs wifi_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wifi_configs
    ADD CONSTRAINT wifi_configs_pkey PRIMARY KEY (id);


--
-- Name: work_schedules work_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_schedules
    ADD CONSTRAINT work_schedules_pkey PRIMARY KEY (id);


--
-- Name: ix_advance_payments_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_advance_payments_date ON public.advance_payments USING btree (date);


--
-- Name: ix_advance_payments_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_advance_payments_id ON public.advance_payments USING btree (id);


--
-- Name: ix_attendance_settings_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_attendance_settings_id ON public.attendance_settings USING btree (id);


--
-- Name: ix_attendances_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_attendances_date ON public.attendances USING btree (date);


--
-- Name: ix_attendances_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_attendances_id ON public.attendances USING btree (id);


--
-- Name: ix_bonuses_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_bonuses_date ON public.bonuses USING btree (date);


--
-- Name: ix_bonuses_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_bonuses_id ON public.bonuses USING btree (id);


--
-- Name: ix_categories_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_categories_id ON public.categories USING btree (id);


--
-- Name: ix_categories_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_categories_name ON public.categories USING btree (name);


--
-- Name: ix_debts_debt_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_debts_debt_date ON public.debts USING btree (debt_date);


--
-- Name: ix_debts_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_debts_id ON public.debts USING btree (id);


--
-- Name: ix_exchanges_exchange_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_exchanges_exchange_date ON public.exchanges USING btree (exchange_date);


--
-- Name: ix_exchanges_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_exchanges_id ON public.exchanges USING btree (id);


--
-- Name: ix_inventories_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventories_id ON public.inventories USING btree (id);


--
-- Name: ix_inventories_product_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventories_product_name ON public.inventories USING btree (product_name);


--
-- Name: ix_inventory_transaction_details_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventory_transaction_details_id ON public.inventory_transaction_details USING btree (id);


--
-- Name: ix_inventory_transactions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventory_transactions_id ON public.inventory_transactions USING btree (id);


--
-- Name: ix_inventory_transactions_transaction_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventory_transactions_transaction_date ON public.inventory_transactions USING btree (transaction_date);


--
-- Name: ix_penalties_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_penalties_date ON public.penalties USING btree (date);


--
-- Name: ix_penalties_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_penalties_id ON public.penalties USING btree (id);


--
-- Name: ix_qr_access_devices_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_qr_access_devices_device_id ON public.qr_access_devices USING btree (device_id);


--
-- Name: ix_qr_access_devices_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_qr_access_devices_id ON public.qr_access_devices USING btree (id);


--
-- Name: ix_qr_access_tokens_access_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_qr_access_tokens_access_token ON public.qr_access_tokens USING btree (access_token);


--
-- Name: ix_qr_access_tokens_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_qr_access_tokens_expires_at ON public.qr_access_tokens USING btree (expires_at);


--
-- Name: ix_qr_access_tokens_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_qr_access_tokens_id ON public.qr_access_tokens USING btree (id);


--
-- Name: ix_qr_access_tokens_is_used; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_qr_access_tokens_is_used ON public.qr_access_tokens USING btree (is_used);


--
-- Name: ix_qr_sessions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_qr_sessions_id ON public.qr_sessions USING btree (id);


--
-- Name: ix_qr_sessions_qr_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_qr_sessions_qr_token ON public.qr_sessions USING btree (qr_token);


--
-- Name: ix_receipt_types_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_receipt_types_id ON public.receipt_types USING btree (id);


--
-- Name: ix_receipt_types_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_receipt_types_name ON public.receipt_types USING btree (name);


--
-- Name: ix_receipts_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_receipts_id ON public.receipts USING btree (id);


--
-- Name: ix_receipts_receipt_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_receipts_receipt_date ON public.receipts USING btree (receipt_date);


--
-- Name: ix_revenues_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_revenues_id ON public.revenues USING btree (id);


--
-- Name: ix_revenues_revenue_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_revenues_revenue_date ON public.revenues USING btree (revenue_date);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_roles_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_roles_name ON public.roles USING btree (name);


--
-- Name: ix_safes_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_safes_id ON public.safes USING btree (id);


--
-- Name: ix_safes_safe_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_safes_safe_date ON public.safes USING btree (safe_date);


--
-- Name: ix_units_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_units_id ON public.units USING btree (id);


--
-- Name: ix_units_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_units_name ON public.units USING btree (name);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_pin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_pin ON public.users USING btree (pin);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_wifi_configs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_wifi_configs_id ON public.wifi_configs USING btree (id);


--
-- Name: ix_wifi_configs_ip_subnet; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_wifi_configs_ip_subnet ON public.wifi_configs USING btree (ip_subnet);


--
-- Name: ix_wifi_configs_ssid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_wifi_configs_ssid ON public.wifi_configs USING btree (ssid);


--
-- Name: ix_work_schedules_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_work_schedules_id ON public.work_schedules USING btree (id);


--
-- Name: ix_work_schedules_work_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_work_schedules_work_date ON public.work_schedules USING btree (work_date);


--
-- Name: advance_payments advance_payments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.advance_payments
    ADD CONSTRAINT advance_payments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: advance_payments advance_payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.advance_payments
    ADD CONSTRAINT advance_payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: attendances attendances_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: attendances attendances_work_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_work_schedule_id_fkey FOREIGN KEY (work_schedule_id) REFERENCES public.work_schedules(id);


--
-- Name: bonuses bonuses_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bonuses
    ADD CONSTRAINT bonuses_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: bonuses bonuses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bonuses
    ADD CONSTRAINT bonuses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: debts debts_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.debts
    ADD CONSTRAINT debts_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: exchanges exchanges_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exchanges
    ADD CONSTRAINT exchanges_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: inventories inventories_base_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT inventories_base_unit_id_fkey FOREIGN KEY (base_unit_id) REFERENCES public.units(id);


--
-- Name: inventories inventories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT inventories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: inventories inventories_conversion_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT inventories_conversion_unit_id_fkey FOREIGN KEY (conversion_unit_id) REFERENCES public.units(id);


--
-- Name: inventories inventories_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT inventories_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: inventory_transaction_details inventory_transaction_details_inventory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_details
    ADD CONSTRAINT inventory_transaction_details_inventory_id_fkey FOREIGN KEY (inventory_id) REFERENCES public.inventories(id);


--
-- Name: inventory_transaction_details inventory_transaction_details_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_details
    ADD CONSTRAINT inventory_transaction_details_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.inventory_transactions(id);


--
-- Name: inventory_transactions inventory_transactions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: penalties penalties_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penalties
    ADD CONSTRAINT penalties_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: penalties penalties_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penalties
    ADD CONSTRAINT penalties_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: qr_access_tokens qr_access_tokens_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_access_tokens
    ADD CONSTRAINT qr_access_tokens_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.qr_access_devices(device_id);


--
-- Name: qr_sessions qr_sessions_used_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_sessions
    ADD CONSTRAINT qr_sessions_used_by_fkey FOREIGN KEY (used_by) REFERENCES public.users(id);


--
-- Name: receipt_types receipt_types_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipt_types
    ADD CONSTRAINT receipt_types_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: receipts receipts_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: receipts receipts_receipt_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_receipt_type_id_fkey FOREIGN KEY (receipt_type_id) REFERENCES public.receipt_types(id);


--
-- Name: revenues revenues_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revenues
    ADD CONSTRAINT revenues_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: safes safes_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safes
    ADD CONSTRAINT safes_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: work_schedules work_schedules_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_schedules
    ADD CONSTRAINT work_schedules_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict wis8J9DTVzhDtqWRpuDVfLZEScLz71J5UzbAEdfBS9gVBaNsDe96Juo5z17JVKP

